@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

<<<<<<< HEAD
body {
  font-family: 'Poppins', sans-serif;
=======
html, body {
  overflow: hidden; /* Deshabilita el scroll global */
>>>>>>> 8b6c45a0308b0046472df813055dfa9b9021a159
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-shine {
  animation: shine 1.5s linear infinite;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in-soft {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-soft {
    animation: fade-in-soft 1.2s ease forwards;
  }

  @keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

  .shine-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    background: linear-gradient(120deg, transparent 0%, white 50%, transparent 100%);
    animation: shine 2s ease-in-out infinite;
    opacity: 0.2;
    pointer-events: none;
    filter: blur(2px);
  }
}
